<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> <%= link_to "AMIIGO", amiigos_path %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if user_signed_in? %>
      <a class="nav-link active"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %> <span class="sr-only"> (current) </span></a>
        <% if current_user.admin_role? %>
        <a class="nav-link active"> <%= link_to "Admin Dashboard", rails_admin_path %> </a>
        <% end %> 
      <a class="nav-link active"> <%= link_to "Edit Account", edit_user_registration_path %> </a>
      <% else %>
        <a class="nav-link active"> <%= link_to "Sign In",  new_user_session_path %> </a>
        <a class="nav-link active"> <%= link_to "Sign Up", new_user_registration_path %> </a>
        <a class="nav-link active"> <%= link_to "Amiibo Collection", amiibos_path %> </a>
      <% end %>
    </div>
  </div>
</nav>
      
          
          
          
      
   

  
  