
<%= simple_form_for(@amiibo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :amibo_name, required: true %>
    <%= f.input %>
    <%= f.input %>
    <%= f.input %>
    <%= f.input %>
    <%= f.input %> 

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
