<div>
  <% @amiibos.each do |amiibo| %>
    <div>
      <%= cl_image_tag(amiibo.image.key, crop: :scale, width: 100, cloud_name: 'prats')%>
    </div>
    <h2><%= link_to amiibo[:amibo_name], amiibo_path(amiibo[:id])%></h2>
    <p>$<%= amiibo.amibo_price %></p>
    <p><%= amiibo.amibo_condition %></p>
    
  <% end %>
  <%= link_to 'New Amiibo', new_amiibo_path %>
  <%= link_to 'Back', amiibos_path %>
</div>