<h1><%= @amiibo.amibo_name %></h1>

<p id="notice">

    <%= cl_image_tag(@amiibo.image.key, crop: :scale, width: 100, cloud_name: 'prats')%>
    <p>Price: $<%= "%.2f" % @amiibo.amibo_price %></p>
    <p>Amiibo Type:<%= @amiibo.amibo_type %></p>
    <p>Nintendo Game Series:<%= @amiibo.amibo_game_series %></p>
    <p>Product Condition:<%= @amiibo.amibo_condition %></p>
    <p>Amiibo Description:<%= @amiibo.description %></p>

<% unless author_of(@amiibo)%>
    <%= button_to 'Buy', checkout_create_path, method: :post, params: {id: @amiibo.id }, remote: true %>
<% end %>

<%= notice %> </p>
<hr>
<% if author_of(@amiibo)%>
    <%= link_to 'New Amiibo', new_amiibo_path %>
    <%= link_to 'Edit', edit_amiibo_path(@amiibo) %>
    <%= link_to "Delete!", amiibo_path(@amiibo), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %> |
<%= link_to 'Back', amiibos_path %>
